@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/CascadiaCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Cascadia Code', monospace;
}


.inputWrapper {
  position: relative;
  max-width: 100vw;
}

.commandOutputContainer {
  padding: 0.2rem;
  /* Padding to match input container */
}


.input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-family: 'Cascadia Code', monospace;
  padding: 0.2rem;
  min-width: 200px;
  caret-color: transparent;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.caret {
  display: inline-block;
  width: 0.6em;
  height: 1rem;
  background-color: white;
  position: absolute;
  animation: blink 1s step-start infinite;
}

.hiddenText {
  visibility: hidden;
  white-space: pre;
  position: absolute;
  pointer-events: none;
}

.previousCommandStyle {
  /* Inherits styles from .input, adjust additional properties as necessary */
  position: relative;
  padding: 0;
  width: auto;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}