.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.swipeLeft {
  transition: transform 300ms;
  transform: translateX(-100%);
}

.swipeRight {
  transition: transform 300ms;
  transform: translateX(100%);
}

.swipeRightHalf {
  transition: transform 300ms;
  transform: translateX(25%);
}

@keyframes swipeFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.swipeFromRight {
  animation: swipeFromRight 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
}

@keyframes swipeFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.swipeFromLeft {
  animation: swipeFromLeft 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
