
@font-face {
  font-family: 'Cascadia Code';
  src: url('./assets/fonts/CascadiaCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Cascadia Code', monospace;
}
